<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileHub</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body >
    <div id="particles-js">
    <div class="cent-cont">
            {% if ip %}
            <div class="container1">
                <p id="typewriter" class="typewriter"><span style="color: rgb(152, 206, 3);">Enter the link in the browser: </span><br><a href="http://{{ ip }}:8000">http://{{ ip }}:8000</a></p>
                <button style="margin-left: 20%;" class="button-63" onclick="copyToClipboard('http://{{ ip }}:8000')">Copy</button>
            </div>
            {% else %}
            <form method="POST" class="container1" id="urlForm">
                
                    <p id="typewriter" class="typewriter">Hit the button to connect <br> your device...</p>
                    <input type="text" id="ip_url" name="ip_url" placeholder="Enter URL" hidden>
                    <button title="Hit to create a connection" class="button-63" name="but2"  role="button">Receive</button>
                    <button title="Hit to eashtablish the connection" class="button-63" name="but1" onclick="getip()" role="button">Send</button>
                    
            </form>
            {% endif %}
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/static/script/script.js"></script>
</html>
